<div class="container">
  <h1>Bootstrap Icons Picker for Angular</h1>
  <hr/>
  <div class="row align-items-start">
    <div class="col">
      <div class="d-grid gap-2">
        <a class="btn btn-success" href="https://gdg.community.dev/gdg-valle-daosta/" target="blank">
          <i class="bi bi-google"></i> GDG Valle d'Aosta
        </a>
      </div>
    </div>
    <div class="col">
      <div class="d-grid gap-2">
        <a class="btn btn-primary" href="https://github.com/gdgvda/ngx-bootstrap-icons-picker/" target="blank">
          <i class="bi bi-github"></i> Source Code on Github
        </a>
      </div>
    </div>
    <div class="col">
      <div class="d-grid gap-2">
        <a class="btn btn-danger" href="https://www.npmjs.com/package/ngx-bootstrap-icons-picker" target="blank">
          <i class="bi bi-box-fill"></i> Package on NPM
        </a>
      </div>
    </div>
    <div class="col">
      <div class="d-grid gap-2">
        <a class="btn btn-warning" href="https://github.com/gdgvda/ngx-bootstrap-icons-picker/blob/main/CONTRIBUTING.md" target="blank">
          <i class="bi bi-git"></i> Contribute
        </a>
      </div>
    </div>
  </div>
  <hr/>
  <h2>Example</h2>
  <p>Basic example</p>
  <div class="input-group mb-3">
    <span class="input-group-text"><i class="bi bi-{{selectedIcon}}"></i></span>
    <input type="text" class="form-control"
           [iconPicker]="'terminal-fill'"
           [value]="selectedIcon"
           (iconPickerSelect)="onIconPickerSelect($event)"
    />
  </div>
  <h3>Installing and usage</h3>
  <h4>With Angular CLI</h4>
  <pre><code>ng add ngx-bootstrap-icons-picker</code></pre>
  <h4>Or with NPM</h4>
  <pre><code>npm install ngx-bootstrap-icons-picker --save`</code></pre>
  <h3>Load the module for your app</h3>
  <pre><code>import &#123;NgxBootstrapIconsPickerModule&#125; from "ngx-bootstrap-icons-picker";

&#64;NgModule(&#123;
  ...
  imports:[
    ...
    NgxBootstrapIconsPickerModule
  ]
&#125;)</code></pre>
  <h3>Use it in your HTML template</h3>
  <pre><code>&lt;div class="input-group mb-3"&gt;
  &lt;span class="input-group-text"&gt;&lt;i class="bi bi-&#123;&#123;selectedIcon&#125;&#125;"&gt;&lt;/i&gt;&lt;/span&gt;
  &lt;input type="text" class="form-control"
    [iconPicker]="'terminal-fill'"
    [value]="selectedIcon"
    (iconPickerSelect)="onIconPickerSelect($event)"
  /&gt;
&lt;/div&gt;</code></pre>
  <h4>Component property and methods</h4>
  <pre><code>export class AppComponent &#123;
  selectedIcon:string = ''

  onIconPickerSelect(icon:string):void&#123;
    this.selectedIcon = icon;
  &#125;
&#125;</code></pre>
</div>
