<div class="container">
  <h1>Bootstrap Icons Picker for Angular</h1>
  <hr/>
  <a class="btn btn-success" href="https://gdg.community.dev/gdg-valle-daosta/" target="blank">
    <i class="bi bi-google"></i> GDG Valle d'Aosta
  </a>
  &nbsp;
  <a class="btn btn-primary" href="https://github.com/gdgvda/ngx-bootstrap-icons-picker/" target="blank">
    <i class="bi bi-github"></i> View on Github
  </a>
  &nbsp;
  <a class="btn btn-warning" href="https://github.com/gdgvda/ngx-bootstrap-icons-picker/blob/main/CONTRIBUTING.md" target="blank">
    <i class="bi bi-git"></i> Contribute
  </a>
  <hr/>
  <h2>Example</h2>
  <p>Basic example</p>
  <div class="input-group mb-3">
    <span class="input-group-text"><i class="bi bi-{{selectedIcon}}"></i></span>
    <input type="text" class="form-control"
      [iconPicker]="'terminal-fill'"
      [bipPosition]="'bottom'"
      [bipWidth]="'270px'"
      [bipPlaceholder]="'Search icon..'"
      [bipFallbackIcon]="fallbackIconDefault"
      [value]="selectedIcon"
      (iconPickerSelect)="onIconPickerSelect($event)"
    />
  </div>
  <h3>Installing and usage</h3>
  <h4>With Angular CLI</h4>
  <pre><code>ng add ngx-bootstrap-icons-picker</code></pre>
  <h4>Or with NPM</h4>
  <pre><code>npm install ngx-bootstrap-icons-picker --save`</code></pre>
  <h3>Load the module for your app</h3>
  <pre><code>import &#123;NgxBootstrapIconsPickerModule&#125; from "ngx-bootstrap-icons-picker";

@NgModule(&#123;
  ...
  imports:[
    ...
    NgxBootstrapIconsPickerModule
  ]
&#125;)</code></pre>
  <h3>Use it in your HTML template</h3>
  <pre><code>&lt;input type="text" class="form-control"
  [iconPicker]="'terminal-fill'"
  [ipPosition]="'bottom'"
  [ipWidth]="'270px'"
  [ipPlaceHolder]="'Search'"
  [ipFallbackIcon]="fallbackIconDefault"
  [value]="selectedIcon"
  (iconPickerSelect)="onIconPickerSelect($event)"
/&gt;</code></pre>
  <h4>Component property and methods</h4>
  <pre><code>export class AppComponent &#123;
  selectedIcon:string = ''
  fallbackIconDefault:string = '0-circle';

  onIconPickerSelect(icon:string):void&#123;
    console.log(icon);
    this.selectedIcon = icon;
  &#125;
&#125;</code></pre>
</div>
